PACKAGE_NAME="@@MODULE@@"
PACKAGE_VERSION="@@VERSION@@"
AUTOINSTALL="yes"

MAKE[0]="make KERNEL_DIR=${kernel_source_dir}"
BUILT_MODULE_NAME[0]="@@MODULE@@"
BUILT_MODULE_LOCATION[0]="."
DEST_MODULE_LOCATION[0]="/@@DESTDIR@@"
